h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
p {
  font-size: 20px;
  line-height: 1.4;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
span {
  text-transform: uppercase;
  font-size: 14px;
}
ul {
  list-style: none;
}
